.player {
  background: #121212;
  -webkit-transition: .5s;
  transition: .5s;
}

#timeAudio, #durationAudio {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 99;
  pointer-events: none;
  color: #ffffff9a;
  font-size: 0.8rem;
}

#play, #next, #back {
  -webkit-transition: 0.1 0.5s;
  transition: 0.1 0.5s;
  background-color: transparent;
  border: 0;
  color: gray;
  cursor: pointer;
  outline: none;
  font-size: 1.9rem;
}

#play:hover, #next:hover, #back:hover {
  color: white;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.progress {
  -webkit-transition: .5s;
  transition: .5s;
  width: 100vw;
  height: 1.9vh;
  background: transparent;
  background: transparent;
  cursor: pointer;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: #00aeffc4;
}

.buffered::-webkit-progress-value {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: #00aeff1f;
}

.progressBar:hover > #timeAudio {
  font-size: 1.1rem;
}

.progressBar:hover > #durationAudio {
  font-size: 1.1rem;
}

.progressBar:hover > .progress {
  height: 3.2vh;
}

.titleImg {
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.titleImgAnim {
  -webkit-animation: rotateImg 22s 0s infinite;
          animation: rotateImg 22s 0s infinite;
}

@-webkit-keyframes rotateImg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateImg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.effect {
  position: relative;
  width: 0px;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 25px;
  background: #00aeffa9;
  margin-top: 18px;
  -webkit-animation: scaleAnim .4s infinite;
          animation: scaleAnim .4s infinite;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.volumeIco {
  font-size: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ffffff8c;
  cursor: pointer;
  display: none;
}

.volumeIco:hover {
  color: #ffffffe0;
}

#volume {
  display: none;
}

@media screen and (min-width: 366px) {
  .controls-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .controls-container__buttons, .controls-container__title-image {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .controls-container__title-image__titles {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 560px) {
  #volume, .volumeIco {
    display: block;
  }
}

#titleAuthor, #titleName {
  -webkit-transition: .3s;
  transition: .3s;
  color: #b6e7fd;
  cursor: pointer;
}

#titleAuthor:hover, #titleName:hover {
  color: #92ddff;
}

.controls-container__title-image {
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.controls-container__title-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.music-collection {
  -webkit-transition: .3s;
  transition: .3s;
  width: 100vw;
  height: 0px;
  background: #121212;
  overflow-y: scroll;
  overflow-x: hidden;
}

.music-collection__container {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 1px 1px 4px #00aeff36;
          box-shadow: 1px 1px 4px #00aeff36;
  cursor: pointer;
}

.music-collection__container:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.titleImgCollection {
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 25px;
  width: 75px;
  height: 75px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #00aeff5d;
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */